body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(30, 38%, 92%);
}

.card-container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .product-card {
  background-color: #ffffff;
  width: 600px;
  height: 420px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 5px 5px 2px 2px #000000;
}

.product-card .product-card-image {
  width: 300px;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.product-card-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  transition: scale 400ms;
}

.product-card-image:hover img {
  scale: 120%;
}

.product-card .product-card-content {
  width: 300px;
  height: 100%;
}

.product-card .product-card-content .product-card-text {
  margin: 10px 20px;
}

.product-card-title-one p {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 1.5rem;
}

.product-card-title-two h1 {
  font-family: "Fraunces", serif;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.2rem;
}

.product-card-paragraf p {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.product-card-price {
  display: flex;
  justify-content: space-between;
}

.product-card-price .product-card-price-one p {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  margin-top: 0;
  margin-bottom: 1rem;
}

.product-card-price .product-card-price-two p {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  margin-top: 0.7rem;
  margin-right: 2rem;
}

.product-card-button {
  margin-bottom: 0.5rem;
}

.product-card-button a {
  display: flex;
  justify-content: center;
  color: white;
  background-color: hsl(158, 36%, 37%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.8rem 3rem;
  border-radius: 10px;
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 680px) {
  .card-container .product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80vh;
  }

  .product-card .product-card-image {
    overflow: none;
  }

  .product-card .product-card-content .product-card-text {
    margin: 5px 30px 10px 30px;
  }

  .product-card-button a {
    margin-bottom: 20px;
  }
}
